.container {
  width: 1080px;
  margin: 0px auto;
  font-size: 1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}

header {
  text-align: center;
  border: 1px solid #666;
  background: #cccccc;
}

a {
  color: #333;
  text-decoration: none;
}

section,
aside {
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

section {
  float: left;
  width: 70%;
  background: #fafafa;
  border: 1px solid #ccc;
}

aside {
  float: right;
  width: 25%;
  background: #ccc;
  color: #333;
}

nav {
  padding: 0.2%;
  background: #f06156;
  margin-top: 0.5%;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  display: table;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #75302a;
  font-weight: bold;
  padding: 6px 15px;
  margin: 2px;
  background: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}

footer a {
  color: #fff;
}

h2 {
  color: #f06156;
}

.formUnidad1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.imputUnidad1 {
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
}

.submitUnidad1 {
  border-radius: 2px;
  border: 1px solid #727272;
  background-color: #94949485;
  margin-top: 5px;
  width: 80px;
}

.submitUnidad1:hover {
  opacity: 0.8;
}

.unidadFecha {
  position: relative;
  padding-left: 5px;
  border-radius: 2px;
  border: 1px solid #727272;
  background-color: #bebdbd;
  margin-bottom: 2px;
}

.destacado {
  font-weight: bold;
}

.btnBorrar {
  position: absolute;
  top: 4px;
  right: 6px;
  font-weight: bold;
  color: rgb(184, 3, 3);
}

.formFecha {
  text-align: center;
  margin: 5px;
}

h5 {
  font-size: medium;
  color: rgb(184, 3, 3);
}

.comentariosCont {
  border-bottom: 1px solid #bebdbd;
  padding: 5px;
}

.formComentario {
  display: flex;
  flex-direction: column;
}

.imputsUnidad3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.imputComentario {
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 5px;
}

.imputComentarioText {
  height: 80px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 5px;
}

.submitComentario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcaAgua{
  height: 400px;
  width: 380px;
  border-radius: 5px;
  box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.2)
}

.imgDinamic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width: 98%;
  }

  section {
    width: 68%;
  }
}

/* pantalla maximo 700px */
@media screen and (max-width:700px) {

  aside,
  section {
    float: none;
    width: 96%;
    font-size: 1.2em;
  }

  nav,
  section {
    font-size: 1.2em;
  }

  aside {
    margin-top: 5px;
    background: #333;
    color: #fff;
  }

  nav ul {
    float: none;
    clear: both;
  }
}


/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display: block;
    background: #333;
    color: #fff;
    font-size: 1.5em;
  }

  nav,
  section {
    font-size: 1.5em;
  }

  section {
    width: 94%;
  }

  nav ul {
    display: table;
    text-align: center;
    float: none;
    width: 100%;
  }

  nav ul li {
    float: none;
  }
}