.container {
  width: 1080px;
  margin: 0px auto;
  font-size: 1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}

header {
  text-align: center;
  border: 1px solid #666;
  background: #cccccc;
}

a {
  color: #333;
  text-decoration: none;
}

section,
aside {
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

section {
  float: left;
  width: 70%;
  background: #fafafa;
  border: 1px solid #ccc;
}

aside {
  float: right;
  width: 25%;
  background: #ccc;
  color: #333;
}

nav {
  padding: 0.2%;
  background: #f06156;
  margin-top: 0.5%;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  display: table;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #75302a;
  font-weight: bold;
  padding: 6px 15px;
  margin: 2px;
  background: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}

footer a {
  color: #fff;
}

h2 {
  color: #f06156;
}

.formUnidad1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.imputUnidad1 {
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
}

.submitUnidad1 {
  border-radius: 2px;
  border: 1px solid #727272;
  background-color: #94949485;
  margin-top: 5px;
  width: 80px;
}

.submitUnidad1:hover {
  opacity: 0.8;
}

.unidadFecha {
  position: relative;
  padding-left: 5px;
  border-radius: 2px;
  border: 1px solid #727272;
  background-color: #bebdbd;
  margin-bottom: 2px;
}

.destacado {
  font-weight: bold;
}

.btnBorrar {
  position: absolute;
  top: 4px;
  right: 6px;
  font-weight: bold;
  color: rgb(184, 3, 3);
}

.formFecha {
  text-align: center;
  margin: 5px;
}

h5 {
  font-size: medium;
  color: rgb(184, 3, 3);
}

.comentariosCont {
  border-bottom: 1px solid #bebdbd;
  padding: 5px;
}

.formComentario {
  display: flex;
  flex-direction: column;
}

.imputsUnidad3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.imputComentario {
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 5px;
}

.imputComentarioText {
  height: 80px;
  width: 99%;
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 5px;
}

.submitComentario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcaAgua {
  height: 400px;
  width: 380px;
  border-radius: 5px;
  box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.2)
}

.thumbnail {
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(1, 156, 161, 0.726);
  animation: latido 1s infinite;
}

@keyframes latido {
  0% {
    box-shadow: 0 0 10px 0 rgba(1, 156, 161, 0.726);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(1, 156, 161, 0.726);
  }

  100% {
    box-shadow: 0 0 10px 0 rgb(1, 156, 161);
  }
}

.imgDinamic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fotoDBmini {
  width: 90%;
  height: 100px;
  border: 1px solid #bebdbd;
  margin-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(1, 156, 161, 0.726);
  animation: latido 1s infinite;
}

.fotoDB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #777676;
}

.contFormImg {
  border: 1px solid #777676;
  padding: 5px;
  border-radius: 10px;
  background-color: #f06156;
}

.formCaptcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid #bebdbd;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  background-color: #57565641;
}

.imputFormCaptcha {
  height: 18px;
  width: 98%;
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 6px;
  border-radius: 5px;
}

.imputCaptchaText {
  height: 70px;
  width: 98%;
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: 6px;
  border-radius: 5px;
}

.imputCaptcha {
  height: 15px;
  width: 98%;
  border-radius: 2px;
  border: 1px solid #bebdbd;
  outline: 0;
  background-color: #f1f1f173;
  margin-bottom: -1px;
}

.submitCaptcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 217, 255);
  border: 1px solid rgb(149, 199, 250);
  width: 40%;
}

.usuarios {
  margin: auto;
  text-align: center;
  width: 80%;
  border: 1px solid #666;
  border-radius: 3px;
  background:  #f06056d8;
}

.listaProdTitle {
  background-color: #ccc;
  border: 1px solid #f06056d8;
  padding: 10px;
  text-align: center;
}

.listaProd {
  /* border-right: 1px solid #f06056d8;
  border-bottom: 1px solid #f06056d8; */
  border: 1px solid #f06056d8;
  padding: 10px;
  text-align: center;
}

.btnsProd {
  display: flex;
  flex-direction: column;
}

.newProd {
  display: flex;
  flex-direction: column;
}

/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width: 98%;
  }

  section {
    width: 68%;
  }
}

/* pantalla maximo 700px */
@media screen and (max-width:700px) {

  aside,
  section {
    float: none;
    width: 96%;
    font-size: 1.2em;
  }

  nav,
  section {
    font-size: 1.2em;
  }

  aside {
    margin-top: 5px;
    background: #333;
    color: #fff;
  }

  nav ul {
    float: none;
    clear: both;
  }
}


/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display: block;
    background: #333;
    color: #fff;
    font-size: 1.5em;
  }

  nav,
  section {
    font-size: 1.5em;
  }

  section {
    width: 94%;
  }

  nav ul {
    display: table;
    text-align: center;
    float: none;
    width: 100%;
  }

  nav ul li {
    float: none;
  }
}